In [1]:
import sqlite3

In [2]:
con=sqlite3.connect('ESM.db')

In [3]:
cur=con.cursor()

In [4]:
def create_table():
    q="create table Employee (eid int PRIMARY KEY, ename text, dept text, basic int, branch text)"
    cur.execute(q)
    con.commit()

In [5]:
def insert_records_directly():
    q="insert into Employee values(?,?,?,?,?)"
    l=[(1,'om',' Account',5000,'Surat'),(2,'sai','HR', 5600, 'Mumbai'),(3,'ram','Account', 6000, 'Bangalore'),
       (4,'anil','IT', 6200, 'Delhi'),(5,'sunil','Inventory', 4500, 'Surat')]
    cur.executemany(q,l)
    con.commit()

In [6]:
def insert_records_user():
    q="insert into Employee values(?,?,?,?,?)"
    l1=[]
    for i in range(6,11):
        eid=int(input("Enter employee id:"))
        ename=input("Enter employee name:")
        edept=input("Enter employee department:")
        ebasic=int(input("Enter employee basic:"))
        ebranch=input("Enter employee branch:")
        t=(eid,ename,edept,ebasic,ebranch)
        l1.append(t)
    cur.executemany(q,l1)
    con.commit()

In [7]:
def update():
    q=("UPDATE Employee SET basic = basic * 1.1 WHERE branch = 'Surat' ")
    cur.execute(q)
    con.commit()

In [8]:
def print_record():
    q=("select * from Employee")
    cur.execute(q)
    r=cur.fetchall()
    print("ALL Records:")
    for i in range(len(r)):
        print(r[i])
    con.commit()

In [9]:
def print_record_HR_IT():
    q=("select * from Employee where dept='HR' OR dept='IT'")
    cur.execute(q)
    r=cur.fetchall()
    print("deprtment is HR and IT:")
    for i in range(len(r)):
        print(r[i])
    con.commit()

In [10]:
def print_record_orderby_dept():
    q=("select * from Employee ORDER BY dept")
    cur.execute(q)
    r=cur.fetchall()
    print("Record ORDER BY DEPT:")
    for i in range(len(r)):
        print(r[i])
    con.commit()

In [11]:
def print_record_basic():
    q=("select * from Employee where basic>6000")
    cur.execute(q)
    r=cur.fetchall()
    print("Basic>6000:")
    for i in range(len(r)):
        print(r[i])
    con.commit()

In [12]:
def print_record_ename_seccond_char_r():
    q=("select * from Employee where ename LIKE '_r%'")
    cur.execute(q)
    r=cur.fetchall()
    print("employee name second char is r:")
    for i in range(len(r)):
        print(r[i])
    con.commit()

In [13]:
def grouping():
    q=("select dept,count(*) from Employee where dept IN('Account','Inventory') GROUP BY dept")
    cur.execute(q)
    r=cur.fetchall()
    print("Grouping:")
    for i in range(len(r)):
        print(r[i])
    con.commit()

In [14]:
def branch_descending():
    q=("select * from Employee ORDER BY branch")
    cur.execute(q)
    r=cur.fetchall()
    print("branch name in descending order:")
    for i in range(len(r)):
        print(r[i])
    con.commit()

In [15]:
create_table()

In [16]:
insert_records_directly()

In [17]:
insert_records_user()

Enter employee id:6
Enter employee name:ashok
Enter employee department:HR
Enter employee basic:6500
Enter employee branch:Ahmadabad
Enter employee id:7
Enter employee name:bruce
Enter employee department:Inventory
Enter employee basic:5300
Enter employee branch:Kolkata
Enter employee id:8
Enter employee name:vijay
Enter employee department:IT
Enter employee basic:4100
Enter employee branch:Mumbai
Enter employee id:9
Enter employee name:ajay
Enter employee department:Account
Enter employee basic:6700
Enter employee branch:Surat
Enter employee id:10
Enter employee name:rohit
Enter employee department:IT
Enter employee basic:7000
Enter employee branch:Mumbai

In [18]:
update()

In [19]:
print_record()

ALL Records:
(1, 'om', ' Account', 5500, 'Surat')
(2, 'sai', 'HR', 5600, 'Mumbai')
(3, 'ram', 'Account', 6000, 'Bangalore')
(4, 'anil', 'IT', 6200, 'Delhi')
(5, 'sunil', 'Inventory', 4950, 'Surat')
(6, 'ashok', 'HR', 6500, 'Ahmadabad')
(7, 'bruce', 'Inventory', 5300, 'Kolkata')
(8, 'vijay', 'IT', 4100, 'Mumbai')
(9, 'ajay', 'Account', 7370.000000000001, 'Surat')
(10, 'rohit', 'IT', 7000, 'Mumbai')

In [20]:
print_record_HR_IT()

deprtment is HR and IT:
(2, 'sai', 'HR', 5600, 'Mumbai')
(4, 'anil', 'IT', 6200, 'Delhi')
(6, 'ashok', 'HR', 6500, 'Ahmadabad')
(8, 'vijay', 'IT', 4100, 'Mumbai')
(10, 'rohit', 'IT', 7000, 'Mumbai')

In [21]:
print_record_orderby_dept()

Record ORDER BY DEPT:
(1, 'om', ' Account', 5500, 'Surat')
(3, 'ram', 'Account', 6000, 'Bangalore')
(9, 'ajay', 'Account', 7370.000000000001, 'Surat')
(2, 'sai', 'HR', 5600, 'Mumbai')
(6, 'ashok', 'HR', 6500, 'Ahmadabad')
(4, 'anil', 'IT', 6200, 'Delhi')
(8, 'vijay', 'IT', 4100, 'Mumbai')
(10, 'rohit', 'IT', 7000, 'Mumbai')
(5, 'sunil', 'Inventory', 4950, 'Surat')
(7, 'bruce', 'Inventory', 5300, 'Kolkata')

In [22]:
print_record_basic()

Basic>6000:
(4, 'anil', 'IT', 6200, 'Delhi')
(6, 'ashok', 'HR', 6500, 'Ahmadabad')
(9, 'ajay', 'Account', 7370.000000000001, 'Surat')
(10, 'rohit', 'IT', 7000, 'Mumbai')

In [23]:
print_record_ename_seccond_char_r()

employee name second char is r:
(7, 'bruce', 'Inventory', 5300, 'Kolkata')

In [24]:
grouping()

Grouping:
('Account', 2)
('Inventory', 2)

In [25]:
branch_descending()

branch name in descending order:
(6, 'ashok', 'HR', 6500, 'Ahmadabad')
(3, 'ram', 'Account', 6000, 'Bangalore')
(4, 'anil', 'IT', 6200, 'Delhi')
(7, 'bruce', 'Inventory', 5300, 'Kolkata')
(2, 'sai', 'HR', 5600, 'Mumbai')
(8, 'vijay', 'IT', 4100, 'Mumbai')
(10, 'rohit', 'IT', 7000, 'Mumbai')
(1, 'om', ' Account', 5500, 'Surat')
(5, 'sunil', 'Inventory', 4950, 'Surat')
(9, 'ajay', 'Account', 7370.000000000001, 'Surat')

In [26]:
cur.close()